<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>ShowClass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet1</display-name>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet2</display-name>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHttpServlet</display-name>
    <servlet-name>CreateHttpServlet</servlet-name>
    <servlet-class>CreateHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHttpServlet</servlet-name>
    <url-pattern>/CreateHttpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dname</param-name>
    <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MySearcher</display-name>
    <servlet-name>MySearcher</servlet-name>
    <servlet-class>MySearcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySearcher</servlet-name>
    <url-pattern>/MySearcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/DatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlservlet1</display-name>
    <servlet-name>urlservlet1</servlet-name>
    <servlet-class>urlservlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlservlet1</servlet-name>
    <url-pattern>/urlservlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urlservlet2</display-name>
    <servlet-name>urlservlet2</servlet-name>
    <servlet-class>urlservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlservlet2</servlet-name>
    <url-pattern>/urlservlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet1</display-name>
    <servlet-name>HiddenServlet1</servlet-name>
    <servlet-class>HiddenServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet1</servlet-name>
    <url-pattern>/HiddenServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenServlet2</display-name>
    <servlet-name>HiddenServlet2</servlet-name>
    <servlet-class>HiddenServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenServlet2</servlet-name>
    <url-pattern>/HiddenServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstCookieServlet</display-name>
    <servlet-name>FirstCookieServlet</servlet-name>
    <servlet-class>FirstCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstCookieServlet</servlet-name>
    <url-pattern>/FirstCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondCookieServlet</display-name>
    <servlet-name>SecondCookieServlet</servlet-name>
    <servlet-class>SecondCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondCookieServlet</servlet-name>
    <url-pattern>/SecondCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstSessionServlet</display-name>
    <servlet-name>FirstSessionServlet</servlet-name>
    <servlet-class>FirstSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstSessionServlet</servlet-name>
    <url-pattern>/FirstSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondSessionServlet</display-name>
    <servlet-name>SecondSessionServlet</servlet-name>
    <servlet-class>SecondSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondSessionServlet</servlet-name>
    <url-pattern>/SecondSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessage</display-name>
    <servlet-name>ShowMessage</servlet-name>
    <servlet-class>ShowMessage</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessage</servlet-name>
    <url-pattern>/ShowMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessage2</display-name>
    <servlet-name>ShowMessage2</servlet-name>
    <servlet-class>ShowMessage2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessage2</servlet-name>
    <url-pattern>/ShowMessage2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMessage22</display-name>
    <servlet-name>ShowMessage22</servlet-name>
    <servlet-class>ShowMessage22</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMessage22</servlet-name>
    <url-pattern>/ShowMessage22</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitialServlet</display-name>
    <servlet-name>InitialServlet</servlet-name>
    <servlet-class>InitialServlet</servlet-class>
    <init-param>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitialServlet</servlet-name>
    <url-pattern>/InitialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet2</display-name>
    <servlet-name>ShowServlet2</servlet-name>
    <servlet-class>ShowServlet2</servlet-class>
    <init-param>
      <description></description>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet2</servlet-name>
    <url-pattern>/ShowServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet42</display-name>
    <servlet-name>ShowServlet42</servlet-name>
    <servlet-class>ShowServlet42</servlet-class>
    <init-param>
      <description></description>
      <param-name>count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet42</servlet-name>
    <url-pattern>/ShowServlet42</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeServlet</display-name>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/IncludeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServlet</display-name>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/GetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Message</display-name>
    <servlet-name>Message</servlet-name>
    <servlet-class>Message</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Message</servlet-name>
    <url-pattern>/Message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServlet1</display-name>
    <servlet-name>GetServlet1</servlet-name>
    <servlet-class>GetServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet1</servlet-name>
    <url-pattern>/GetServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet1</display-name>
    <servlet-name>DatabaseServlet1</servlet-name>
    <servlet-class>DatabaseServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet1</servlet-name>
    <url-pattern>/DatabaseServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Initialize</display-name>
    <servlet-name>Initialize</servlet-name>
    <servlet-class>Initialize</servlet-class>
    <init-param>
      <description></description>
      <param-name>Count</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Initialize</servlet-name>
    <url-pattern>/Initialize</url-pattern>
  </servlet-mapping>
</web-app>